* {
    margin: 0;
    padding: 0 auto;
}
.cabecalho {
    background-image: url(../img/menu-final.jpg);
    width: 100%;
    height: 30px;
}
.nome-aviso{
    display: flex;
}
.nome-aviso a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: 3px;
    font-size: 24px;
    margin-left: 40px;
    font-family: 'Times New Roman';
}
.nome-aviso a:hover{
    color: rgb(7, 7, 150);
}
.nome-aviso p{
    font-family: cursive;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 900px;
}
.login-cadastro {
    float: right;
    margin-top: -485px;
    margin-right: 10px;
}
.login-cadastro button{
    width: 90px;
    height: 30px;
    background-color: white;
    text-decoration: black;
    cursor: pointer;
    position: relative;
    border: 2px solid black;
}
.login-cadastro button:hover{
    box-shadow: 10px 5px 5px blue;
}
.login-cadastro a button{
    font-size: 15px;
}
.login-cadastro a:hover{
    color: white;
}
.pesquisa {
    float: left;
    margin-top: -280px;
}
.pesquisa input{
    margin-left: 400px;
    position: relative;
    width: 450px;
    height: 40px;
    border: 2px black solid;
    border-radius: 2%;
    text-align: center;
    font-size: 12px;
}
.pesquisa button {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 40px;
    border: 2px black solid;
    border-radius: 2%;
    text-align: center;
}
.menu-normal {
    text-transform: uppercase;
    margin-left: 120px;
    height: 50px;
    font-family: cursive;
    font-size: 20px;
    margin-top: -100px;
    float: left;
    display: flex;
    justify-content: space-between;
}
.menu-normal ul{
    list-style: none;
    position: relative;
}
.menu-normal ul li{
    width: 250px;
    float: left;
}
.menu-normal a{
    margin-top: -5px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: none;
    color: black;
    background-color: yellow;
    border: 2px solid black;
}
.menu-normal ul ul{
    position: absolute;
    visibility: hidden;
}
.menu-normal ul li:hover ul{
    display: block;
    visibility: visible;
}
.menu-normal ul li ul li{
    margin-top: 10px;
}
.menu-normal a:hover{
    background-color: white;
    border: 2px solid black;
    box-shadow: 10px 5px 5px blue;
}
.menu-normal ul ul li{
    margin-left: -40px;
    float: none;
    border-bottom: 1px solid black;
}
.menu-normal ul ul li a{
    background-color: none;
}
.threethpart {
    background-image: url(../img/psp\ back.jpg);
}
.threethpart p{
    color: white;
    font-family: 'monospace';
    margin-left: 30px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
.acao img{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin-left: 20px;
}
.acao a{
    text-decoration: none;
    color: white;
}
.acao h1{
    margin-left: 190px;
    font-family: Haettenschweiler;
    text-transform: uppercase;
}
.aventura img{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin-left: 20px;
}
.aventura a{
    text-decoration: none;
    color: white;
}
.aventura h1{
    margin-left: 190px;
    font-family: Haettenschweiler;
    text-transform: uppercase;
    margin-top: 20px;
}
.corrida img{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin-left: 20px;
}
.corrida a{
    text-decoration: none;
    color: white;
}
.corrida h1{
    margin-left: 190px;
    font-family: Haettenschweiler;
    text-transform: uppercase;
    margin-top: 20px;
}
.esporte img{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin-left: 20px;
}
.esporte a{
    text-decoration: none;
    color: white;
}
.esporte h1{
    margin-left: 190px;
    font-family: Haettenschweiler;
    text-transform: uppercase;
    margin-top: 20px;
}
.luta img{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin-left: 20px;
}
.luta a{
    text-decoration: none;
    color: white;
}
.luta h1{
    margin-left: 190px;
    font-family: Haettenschweiler;
    text-transform: uppercase;
    margin-top: 20px;
}
.qs img{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin-left: 20px;
}
.qs a{
    text-decoration: none;
    color: white;
}
.qs h1{
    margin-left: 190px;
    font-family: Haettenschweiler;
    text-transform: uppercase;
    margin-top: 20px;
}
.rpg img{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin-left: 20px;
}
.rpg a{
    text-decoration: none;
    color: white;
}
.rpg h1{
    margin-left: 190px;
    font-family: Haettenschweiler;
    text-transform: uppercase;
    margin-top: 20px;
}
.tiro img{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin-left: 20px;
}
.tiro a{
    text-decoration: none;
    color: white;
}
.tiro h1{
    margin-left: 190px;
    font-family: Haettenschweiler;
    text-transform: uppercase;
    margin-top: 20px;
}
.menu-final{
    background-image: url(../img/menu-final.jpg);
    height: 40px;
}
.menu-final a{
    margin-left: 20px;
    font-size: 30px;
    font-family: fantasy;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.menu-final a:hover{
    color: blue;
}
.menu-final ul li{
    margin-left: 60px;
    display:inline-block;
    list-style: none;
}
.final{
    background-image: url(../img/final.jpg);
    width: 100%;
    height: 40px;
}
.final a{
    text-decoration: none;
}
.final h1{
    color: yellow;
}
.final h1:hover{
    color: blue;
}
.final b{
    color: blue;
}
.final b:hover{
    color:yellow;
}
.meio p{
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: -20px;
}