* {
    margin: 0;
    padding: 0 auto;
}
.cabecalho {
    background-color: yellow;
    width: 100%;
    height: 30px;
}
.nome-aviso{
    display: flex;
}
.nome-aviso a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: 3px;
    font-size: 24px;
    margin-left: 40px;
    font-family: 'Times New Roman';
}
.nome-aviso a:hover{
    color: rgb(7, 7, 150);
}
.nome-aviso p{
    font-family: cursive;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 900px;
}
.login-cadastro {
    float: right;
    margin-top: -485px;
    margin-right: 10px;
}
.login-cadastro button{
    width: 90px;
    height: 30px;
    background-color: white;
    text-decoration: black;
    cursor: pointer;
    position: relative;
    border: 2px solid black;
}
.login-cadastro button:hover{
    background-color: blue;
    text-decoration: white;
    cursor: pointer;
}
.login-cadastro a button{
    font-size: 15px;
}
.login-cadastro a:hover{
    color: white;
}
.pesquisa {
    float: left;
    margin-top: -280px;
}
.pesquisa input{
    margin-left: 400px;
    position: relative;
    width: 450px;
    height: 40px;
    border: 2px black solid;
    border-radius: 2%;
    text-align: center;
    font-size: 12px;
}
.pesquisa button {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 40px;
    border: 2px black solid;
    border-radius: 2%;
    text-align: center;
}
.pesquisa button:hover{
    background-color: blue;
}
.menu-normal {
    margin-left: 120px;
    height: 50px;
    font-family: Helvetica;
    font-size: 20px;
    margin-top: -50px;
    float: left;
    display: flex;
    justify-content: space-between;
}
.menu-normal ul{
    list-style: none;
    position: relative;
}
.menu-normal ul li{
    width: 200px;
    float: left;
}
.menu-normal a{
    margin-top: -5px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: none;
    color: black;
    background-color: yellow;
    border: 2px solid black;
}
.menu-normal ul ul{
    position: absolute;
    visibility: hidden;
}
.menu-normal ul li:hover ul{
    display: block;
    visibility: visible;
}
.menu-normal ul li ul li{
    margin-top: 10px;
}
.menu-normal a:hover{
    background-color: white;
    border: 2px solid black;
}
.menu-normal ul ul li{
    margin-left: -40px;
    float: none;
    border-bottom: 1px solid black;
}
.menu-normal ul ul li a{
    background-color: none;
}